<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="false">

    <listener>
        <listener-class>ru.mainnika.squirrels.clanstats.Main</listener-class>
    </listener>


    <servlet>
        <servlet-name>Hello</servlet-name>
        <servlet-class>ru.mainnika.squirrels.clanstats.api.methods.Hello</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Hello</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Ping</servlet-name>
        <servlet-class>ru.mainnika.squirrels.clanstats.api.methods.Ping</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ping</servlet-name>
        <url-pattern>/ping</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>ru.mainnika.squirrels.clanstats.api.methods.Test</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Auth</servlet-name>
        <servlet-class>ru.mainnika.squirrels.clanstats.api.methods.Auth</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Auth</servlet-name>
        <url-pattern>/auth/*</url-pattern>
    </servlet-mapping>


</web-app>

